<!--
<h2 class="ui dividing header">
  <img class="ui image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR05leOHK5RaqV3V0EeTfYofHvL5AryH3iwLPm9rANnQN3jKx-h">
  <div class="content">
    Course
  </div>
  <button class="ui primary button" (click)="addNewCourse()">New</button>
</h2>
<div class="ui container">
  <table class="ui celled table">
      <thead>
          <tr>
            <th>Course title</th>
            <th>Description</th>
            <th>Go</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let course of coursesObservable | async">
              <td>{{course.title}}</td>
              <td>{{course.description}}</td>
              <td><a href="{{course.url}}" target="_blank" class="btn btn-danger">Go To Course</a></td>
              <td>
                <a [routerLink]="['/course/edit',getCourseUrl(course.title)]">Edit</a>
              </td>
          </tr>
        </tbody>
  </table>
</div> -->
<h2 class="ui dividing header">
    <img class="ui image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR05leOHK5RaqV3V0EeTfYofHvL5AryH3iwLPm9rANnQN3jKx-h">
    <div class="content">
      Course
    </div>
    <button class="ui primary button" (click)="addNewCourse()">New</button>
  </h2>
<p-table [value]="courses" [paginator]="true" [rows]="10" [responsive]="true">
  <ng-template pTemplate="caption">
    List of Couses
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th *ngFor="let col of cols" [pSortableColumn]="col.field">
        {{col.header}}
        <p-sortIcon [field]="col.field"></p-sortIcon>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-course>
    <tr>
      <td>{{course.title}}</td>
      <td>{{course.description}}</td>
      <td>
        <a href="{{course.url}}">References</a>
      </td>
      <td>
          <a [routerLink]="['/course/edit',getCourseUrl(course.title)]" ui primary button>Edit</a>
      </td>
    </tr>
  </ng-template>
</p-table>
