<!-- Brand menu See for ref:
  https://semantic-ui.com/examples/theming.html
  https://edcarroll.github.io/ng2-semantic-ui/#/modules/dropdown
-->
<div class="ui inverted menu visible">
  <div class="header item">Brand</div>
  <div class="active item">Link</div>
  <a class="item">Link</a>
  <div tabindex="0" class="ui dropdown link item" suiDropdown>
    <span class="text">Dropdown menu</span>
    <i class="dropdown icon"></i>
    <div class="menu" suiDropdownMenu>
      <div class="header">Order 1</div>
      <div class="item">Home Goods</div>
      <div class="item">Bedroom</div>
      <div class="divider"></div>
      <div class="header">Order</div>
      <div class="item">Status</div>
      <div class="item">Cancellations</div>
    </div>
  </div>
  <div class="right menu">
    <div class="item">
      <div class="ui transparent inverted icon input">
        <i class="search icon"></i>
        <input type="text" placeholder="Search">
      </div>
    </div>
    <a class="item">Logout</a>
  </div>
</div>