.ui-widget-header {
  border: none !important;
  border-bottom-width: 1px !important;
  border-bottom-style: solid !important;
  border-bottom-color: rgb(174, 208, 234) !important;
  background: #DDDBDB !important;
  color: #222222 !important;
  font-weight: bold !important;
}
